*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.menu{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.menu ul{
	background: #1F568B;
  	list-style-type: none;
  	text-align: right;
}
.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 170px;
  height: 40px;
  line-height: 40px;
  margin-right: 30px;
}
.menu a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
}
.menu a:hover {
  background: #F1F1F1;
  color: #333;
}
.container{
  width: 100%;
  display: flex;
}
.container .left{
  width: 70%;
  height: auto;
  margin-top: 40px;
}
.container .left h1{
  margin-top: 20px;
  text-align: center;
}
.container .left table{
  width: 80%;
  border: 1px solid black;
  margin-left: 10%;
}
.container .left table td{
  border-bottom: 2px solid #5584AC;
  text-align: center;
  height: 50px;
  border-radius: 5px;
}
.container .right  {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 40px;
  right: 0;
}
.container .right h1{
  text-align: center;
  margin-top: 20px;
  color: #344CB7;
}
.container .right input{
  width: 70%;
  height: 30px;
  margin-left: 15%;
  margin-top: 30px;
}
.container .left a{
  text-decoration: none;  
  color: blue;
}